<!DOCTYPE html>
<html>
<% include ../public/partials/header %>

    <body>
        <div class="container">
            <fieldset>
                <form action="/" method="post">
                    <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
                    <input type="submit" class="ghost-button" value="Get Weather">
                </form>
                <% if(weather !== null){ %>
                    <p>
                        Temperature:
                        <%= weather %>
                    </p>
                    <% } %>
                        <% if(error !== null){ %>
                            <p>
                                <%= error %>
                            </p>
                            <% } %>
            </fieldset>
        </div>
    </body>
    <% include ../public/partials/footer %>

</html>