<head>
    <meta charset="utf-8">
    <title>SkyCast Weather</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>